// core colour palette

$white: #fff;
$black: #121212;

$teal: #3dc3b1;
$yellow: #f4d22d;
$orange: #f2a22d;

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: $black;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

h1 {
	color: $white;
}

h2 {
	text-transform: uppercase;
}

h3 {

}

p {

}

a {
	text-decoration: none;
	&:hover {
		color: $yellow;
	}
}

#page-container {
	.header-banner {
		background-color: $teal;
		width: 100%;
		height: 480px;
		margin-bottom: 5%;
		> div {
			width: 80%;
			margin: 0 auto;
		}
	}

	.main-nav {
		width: 100%;
		margin: 0 auto;
		padding-top: 1.25em;
		text-align: right;
		ul {
			width: 100%;
			padding: 0;
		}
		li {
			width: 9%;
			display: inline-block;
			text-align: center;
		}
		.main-nav-logo {
			position: absolute;
			left: 10%;
		}
		a {
			color: $white;
			text-transform: uppercase;
			&:hover {
				border-bottom: 0.175em solid $yellow;
			}
		}
	}

	.section-container {
		background-color: $white;
		height: 480px;
		> div {
			width: 80%;
			margin: 0 auto;
			padding: 0;
		}

		.section-title {
			text-align: center;
			h2 {
				padding-bottom: 1em;
			}
			h3 {
				font-weight: 100;
				padding-bottom: 0.5em;
			}
			.header-divider {
				width: 5%;
				margin: 0 auto;
				margin-bottom: 2em;
				border-bottom: 0.25em solid $orange;
			}
		}
		.section-content{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 2.5em;
		}

	}

	.section-numbers {
		width: 100%;
		background-color: $orange;
		height: 200px;
		margin-bottom: 5%;
	}
	
	.img-grid {
		width: 100%;
		margin: 0 auto;
		.img-grid-img {
			width: calc(30% - 1em);
			padding-right: 1em;
			display: inline-block;
			> img {
				width: 100%;
			}
			p {
				text-transform: uppercase;
				text-align: left;
			}
		}
	}
}